//SASS Variables
$dark: #22223B;
$accentDark: #4A4E69;
$background: #9A8C98;
$attention: #C9ADA7;
$light: #F2E9E4;

// Override bootstrap styles here. See https://getbootstrap.com/docs/4.0/getting-started/theming/#theme-colors for some pointers